<html>
  <head>
    <title>Caesar Cipher</title>
  </head>
  <body>

    <h2>Welcome to Caesar Cipher</h2>

    <p>
      <%= code %>
    </p>

    <form>
      <%= "Please insert a text into the box below to be ciphered" %>
      <input type='text' name='original_text'/></br>
      <%= "Please insert a number as factor" %>
      <input type='text' name='factor'/></br>
      <input type='submit' value='Cipher!'/>
    </form>
  </body>
</html